body,
header,
nav,
footer,
ul {
    margin: 0;
    padding: 0;
    border: 0;
}

nav a:hover{
    background-color: rgb(251, 255, 0);
}


#cabezera{
    background: linear-gradient(rgb(0, 0, 0), rgb(255, 0, 0));
}


header {
    top: 0;
    height: 190px;
}

header img {
    margin: 0 auto;
}

nav {
    padding: 1%;
    margin-bottom: 1%;
}

ol {
  
    margin-right: 5%;
}

article{
    width: 100%;
    font-size: 1em;
}



#nutrition figcaption {
    text-align: center;
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 25px;
}


#figures figcaption {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 30%;
    font-size: 1em;
    opacity: 70%;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

#figures figure {
    position: relative;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.75em;
    font-family: 'Open Sans', sans-serif;
    border-top: 1px solid #fff;
}

nav li:first-child {
    border-top: none;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    max-height: 100%;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.15em;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.hours {
    margin-left: 10%;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0.1em;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

#weights,
#training,
#cardio {
    margin: 0 2%;
}


#contact {
    text-align: center;
}

#contact .contact-email-link {
    color: #666600;
    text-decoration: none;
}

.action {
    font-size: 1.35em;
    color: #666600;
    font-weight: bold;
    text-shadow: 2px 2px;
}

.map {
    border: 2px solid #000;
    width: 95%;
    height: 95%;
}

.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

.round {
    border-radius: 8px;
}